{
  "indent": 2,
  "BlankStructNamesCheck": true,
  "QualifiedCheck": false,
  "PrototypeCheck": true,
  "ForceOptionalParens": true,
  "NoOCCURS": true,
  "NoSELECTAll": true,
  "UselessOperationCheck": true,
  "UppercaseConstants": true,
  "IncorrectVariableCase": true,
  "RequiresParameter": true,
  "RequiresProcedureDescription": false,
  "StringLiteralDupe": true,
  "RequireBlankSpecial": false,
  "CopybookDirective": "include",
  "DirectiveCase": "upper",
  "NoSQLJoins": false,
  "NoGlobalsInProcedures": true,
  "SpecificCasing": [
    {"operation": "*BIF", "expected": "*upper"},
    {"operation": "*DECLARE", "expected": "*upper"}
  ],
  "NoCTDATA": true,
  "PrettyComments": true,
  "NoGlobalSubroutines": true,
  "NoLocalSubroutines": true,
  "NoUnreferenced": true,
  "NoExternalTo": ["qsygetph"],
  "NoExecuteImmediate": true,
  "NoExtProgramVariable": true,
  "IncludeMustBeRelative": true,
  "SQLHostVarCheck": true,
  "RequireOtherBlock": true  
}